*{
  width: 1000px;
margin:  20px 20px 10px 20px;
display: block;
width: 1000px;

}

body{
  margin: 0;
  padding: 0;
  background: red; 
  background-size: cover;
  background-position: center;
  font-family: sans-serif;
}

.titulo{
  

  border-radius: 100px;
  width: 1050px;
  height: 100px;
}

nav{
  font-weight: 100px;
  text-align: right;
  display: inline-flex;
  margin: 0 50px;
  padding: 30px 50px 0 0;
  color: black;
  font-style: italic;
justify-content: center;

}

.Encabezado{
  border-radius: 20px white;
}

.titulo {
  margin-top: 0 1px 0 0;
  padding : 0;
  display :inline-block;
  position:relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.titulo::before {
  content: '';
  position: var(#af20d3);
  top: 0;
  left: 0;
  width: 100%;
  height: 50%;
  border-radius: 50%;
  background: #ffee10;
  transition: .5s;
  transform: scale(.9);
  z-index: -1;
}

.titulo:hover::before {
  transform: scale(1.1);
  box-shadow: 0 0 15px #ffee10;
}

.titulo:hover {
  color: #ffee10;

  text-shadow: 0 0 5px #ffee10;
}

.Encabezado img{
  border-radius: 150px;
  box-shadow: 0 0 6px rgba(0, 0, 0, .6);

}

.content{
  margin: 50px;
  background: indianred;
  box-shadow: 0 0 6px rgba(0, 0, 0, .6);
  border-radius: 50px;
}

h4{
  color: rgb(211, 210, 210);
  font-style: italic;
}

p{
  font-size: large;
  font-weight:lighter;
  font-style:inherit ;
  color: white;
  background: 10% black;
  box-shadow: 0 6px 6px rgba(0, 0, 0, .6);
  border-radius: 50;
}





